navbar-brand
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
/* Sections */

.colored-section {
	/* background-color: #ff4c68; */
  
  color: black;
}

.white-section {
  background-color: black;
}

/* Navigation Bar */

.navbar {
  padding-bottom:0.5rem ;
  background-color:black;
}
.navbar-brand:link{
	text-decoration: none;
	font-size: 50px;    
	color: white;
	text-shadow: 1px 1px 2px rgb(197, 24, 24), 0 0 25px rgb(128, 60, 122), 0 0 5px rgb(95, 14, 122);
}  
.navbar-brand:visited{
	font-size: 50px;
	color:white;
}  
.navbar-brand:hover {
	font-size: 50px;    
	color: hotpink;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.navbar-brand:active{
	font-size: 50px;
	color:red;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
} 
.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

#title{
  background-color: black;
  color: #fff;
  text-align: left;
}


.testimonial
{
	padding:0;
}
hr
{
border-color:black;
border-width:3px;
width:10%;
}

.rooms-image:hover {
  opacity: 0.5;
  padding:0;
}

#rooms
{
	padding:4rem;
}
#amenties
{
	background-color:black;
	color:white;
	padding:3rem 7rem;
}
.amenties-gap
{
	padding-right:4.5rem;
}
.carousel-caption
{
	line-height:8;
}
#about
{
	padding:3rem 0;
}
.about-row
{
	width:50%;
	margin:100px auto 100px auto;
	text-align:left;
}
.xyz
{
	width:25%;
	float:left;
	margin-right:30px;
}
.pqr
{
	width:45%;
	
	float:right;
	margin-left:30px;
}
#contact
{
	background-color:#05DBF2;
	color:white;
	padding:3rem 5rem;
}
.social-icon
{
	margin:20px 10px;
}
/*
amenties
quảng cáo
*/
#ads_right{

	position: fixed;
	bottom: 0px;
	right: 0px;
}
#exitads{
	text-align: right;
	font-size: 11px;

}
#exitads a{
	background-color: green;
	padding: 2px 4px;
	color: #FFF;
}
#content_ads{
	border: 1px solid #01AEF0;
	
}

/*back to top*/
#myBtn {
display: none;
position: fixed;
bottom: 60px;
right: 10px;
z-index: 99;
border: none;
outline: none;
background-color: #fff;
border: 2px solid #ccc;
color: white;
cursor: pointer;
border-radius: 30px;
opacity: 0.7;
}

#myBtn:hover {
background-color: #f1f1f1;
}